.main{
    padding: 30px;
    border-top: 1px solid grey;
}
.lists {
    display: flex;
    justify-content: center;
    gap: 20px;
}
article{
    border: 1px solid gray;
}
.favorite{
    background-color: black;
    color: white;
}